:root {
	--header-text-color: #212121;
	--accent-color: #2196f3;
	--btn-color: #ffffff;
	--title-color: #212121;
	--main-text-color: #757575;
}
body {
	font-family: "Roboto", sans-serif;
	color: #757575;
}
.list {
	list-style: none;
}
a {
	text-decoration: none;
}
.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
/*----------------------HEADER--------------------*/
.half-logo {
	font-family: "Raleway", sans-serif;
	font-style: 400;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}
.logo {
	font-family: "Raleway", sans-serif;
	font-style: 400;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #212121;
}
.header-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--header-text-color);
}
.current {
	color: var(--accent-color);
}
.header-link:hover,
.header-link:focus {
	color: var(--accent-color);
}
.header-link-mail,
.header-link-tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #757575;
}
.header-link-mail:hover,
.header-link-mail:focus,
.header-link-tel:hover,
.header-link-tel:focus {
	color: var(--accent-color);
}
/*----------------------HERO----------------------*/
.hero {
	background-color: #2f303a;
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
}
.hero-btn {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--btn-color);
	background-color: var(--accent-color);
	cursor: pointer;
}
/*--------------------FEATURES--------------------*/
.features-list-item-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-color);
}
.features-list-item-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
/*--------------------OCCUPATION-------------------*/
.occupation-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-color);
}
/*----------------------TEAM---------------------*/
.team-title {
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-color);
}
.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}
.team-list-position {
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
/*----------------------FOOTER---------------------*/
.footer {
	background-color: #2f303a;
}
.half-second-logo {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #ffffff;
}

address {
	font-style: normal;
}
.footer-list-item-address {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff;
}
.footer-list-item-mail {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.footer-list-item-tel {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.footer-list-item-address:hover,
.footer-list-item-address:focus,
.footer-list-item-mail:hover,
.footer-list-item-mail:focus,
.footer-list-item-tel:hover,
.footer-list-item-tel:focus {
	color: var(--accent-color);
}
